# Path: ansible/roles/openwebui/templates/openwebui.env.j2
---
# PostgreSQL Configuration
POSTGRES_USER={{ openwebui_db_user }}
POSTGRES_PASSWORD={{ openwebui_db_password }}
POSTGRES_DB={{ openwebui_db_name }}
POSTGRES_HOST={{ openwebui_db_host }}

# OpenWebUI Configuration
DB_TYPE=postgres
DB_HOST={{ openwebui_db_host }}
DB_PORT={{ openwebui_db_port }}
DB_USERNAME={{ openwebui_db_user }}
DB_PASSWORD={{ openwebui_db_password }}
DB_DATABASE={{ openwebui_db_name }}

{% if openwebui_extra_env %}
# Custom Environment Variables
{% for key, value in openwebui_extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}



networks:
  openwebui-network:
    driver: bridge
  {{ openwebui_network }}:
    external: true

volumes:
  {{ openwebui_postgres_volume }}:
    external: true
  {{ openwebui_data_volume }}:
    external: true

